In [1]:
pip install polars

Requirement already satisfied: polars in /usr/local/lib/python3.10/dist-packages (0.17.3)
Requirement already satisfied: typing_extensions>=4.0.1 in /usr/local/lib/python3.10/dist-packages (from polars) (4.5.0)

In [2]:
import polars as pl

In [3]:
df_csv = pl.read_csv("dataCGP.csv")

In [4]:
print(df_csv)

shape: (50, 7)
┌────────────┬───────────┬───────────┬──────────┬─────────────────┬───────┬───────────────┐
│ Fecha      ┆ Cliente   ┆ Producto  ┆ Cantidad ┆ Precio Unitario ┆ Total ┆ Origen        │
│ ---        ┆ ---       ┆ ---       ┆ ---      ┆ ---             ┆ ---   ┆ ---           │
│ str        ┆ str       ┆ str       ┆ i64      ┆ i64             ┆ i64   ┆ str           │
╞════════════╪═══════════╪═══════════╪══════════╪═════════════════╪═══════╪═══════════════╡
│ 2023-11-01 ┆ Cliente1  ┆ ProductoA ┆ 5        ┆ 10              ┆ 50    ┆ Online        │
│ 2023-11-02 ┆ Cliente2  ┆ ProductoB ┆ 3        ┆ 15              ┆ 45    ┆ Online        │
│ 2023-11-03 ┆ Cliente3  ┆ ProductoC ┆ 2        ┆ 20              ┆ 40    ┆ Online        │
│ 2023-11-04 ┆ Cliente4  ┆ ProductoA ┆ 4        ┆ 10              ┆ 40    ┆ Tienda Física │
│ …          ┆ …         ┆ …         ┆ …        ┆ …               ┆ …     ┆ …             │
│ 2023-12-17 ┆ Cliente47 ┆ ProductoB ┆ 5        ┆ 15              ┆ 75    ┆ Online        │
│ 2023-12-18 ┆ Cliente48 ┆ ProductoC ┆ 4        ┆ 20              ┆ 80    ┆ Tienda Física │
│ 2023-12-19 ┆ Cliente49 ┆ ProductoD ┆ 3        ┆ 30              ┆ 90    ┆ Online        │
│ 2023-12-20 ┆ Cliente50 ┆ ProductoA ┆ 2        ┆ 10              ┆ 20    ┆ Online        │
└────────────┴───────────┴───────────┴──────────┴─────────────────┴───────┴───────────────┘

In [5]:
df_csv.describe()

shape: (9, 8)
┌────────────┬────────────┬──────────┬───────────┬──────────┬────────────┬───────────┬────────┐
│ describe   ┆ Fecha      ┆ Cliente  ┆ Producto  ┆ Cantidad ┆ Precio     ┆ Total     ┆ Origen │
│ ---        ┆ ---        ┆ ---      ┆ ---       ┆ ---      ┆ Unitario   ┆ ---       ┆ ---    │
│ str        ┆ str        ┆ str      ┆ str       ┆ f64      ┆ ---        ┆ f64       ┆ str    │
│            ┆            ┆          ┆           ┆          ┆ f64        ┆           ┆        │
╞════════════╪════════════╪══════════╪═══════════╪══════════╪════════════╪═══════════╪════════╡
│ count      ┆ 50         ┆ 50       ┆ 50        ┆ 50.0     ┆ 50.0       ┆ 50.0      ┆ 50     │
│ null_count ┆ 0          ┆ 0        ┆ 0         ┆ 0.0      ┆ 0.0        ┆ 0.0       ┆ 0      │
│ mean       ┆ null       ┆ null     ┆ null      ┆ 2.9      ┆ 18.4       ┆ 51.2      ┆ null   │
│ std        ┆ null       ┆ null     ┆ null      ┆ 1.265718 ┆ 7.521398   ┆ 30.465102 ┆ null   │
│ min        ┆ 2023-11-01 ┆ Cliente1 ┆ ProductoA ┆ 1.0      ┆ 10.0       ┆ 10.0      ┆ Online │
│ max        ┆ 2023-12-20 ┆ Cliente9 ┆ ProductoD ┆ 5.0      ┆ 30.0       ┆ 150.0     ┆ Tienda │
│            ┆            ┆          ┆           ┆          ┆            ┆           ┆ Física │
│ median     ┆ null       ┆ null     ┆ null      ┆ 3.0      ┆ 15.0       ┆ 40.0      ┆ null   │
│ 25%        ┆ null       ┆ null     ┆ null      ┆ 2.0      ┆ 10.0       ┆ 30.0      ┆ null   │
│ 75%        ┆ null       ┆ null     ┆ null      ┆ 4.0      ┆ 20.0       ┆ 60.0      ┆ null   │
└────────────┴────────────┴──────────┴───────────┴──────────┴────────────┴───────────┴────────┘

In [6]:
df_csv.head()

shape: (5, 7)
┌────────────┬──────────┬───────────┬──────────┬─────────────────┬───────┬───────────────┐
│ Fecha      ┆ Cliente  ┆ Producto  ┆ Cantidad ┆ Precio Unitario ┆ Total ┆ Origen        │
│ ---        ┆ ---      ┆ ---       ┆ ---      ┆ ---             ┆ ---   ┆ ---           │
│ str        ┆ str      ┆ str       ┆ i64      ┆ i64             ┆ i64   ┆ str           │
╞════════════╪══════════╪═══════════╪══════════╪═════════════════╪═══════╪═══════════════╡
│ 2023-11-01 ┆ Cliente1 ┆ ProductoA ┆ 5        ┆ 10              ┆ 50    ┆ Online        │
│ 2023-11-02 ┆ Cliente2 ┆ ProductoB ┆ 3        ┆ 15              ┆ 45    ┆ Online        │
│ 2023-11-03 ┆ Cliente3 ┆ ProductoC ┆ 2        ┆ 20              ┆ 40    ┆ Online        │
│ 2023-11-04 ┆ Cliente4 ┆ ProductoA ┆ 4        ┆ 10              ┆ 40    ┆ Tienda Física │
│ 2023-11-05 ┆ Cliente5 ┆ ProductoD ┆ 1        ┆ 30              ┆ 30    ┆ Online        │
└────────────┴──────────┴───────────┴──────────┴─────────────────┴───────┴───────────────┘

In [7]:
df_csv.tail()

shape: (5, 7)
┌────────────┬───────────┬───────────┬──────────┬─────────────────┬───────┬───────────────┐
│ Fecha      ┆ Cliente   ┆ Producto  ┆ Cantidad ┆ Precio Unitario ┆ Total ┆ Origen        │
│ ---        ┆ ---       ┆ ---       ┆ ---      ┆ ---             ┆ ---   ┆ ---           │
│ str        ┆ str       ┆ str       ┆ i64      ┆ i64             ┆ i64   ┆ str           │
╞════════════╪═══════════╪═══════════╪══════════╪═════════════════╪═══════╪═══════════════╡
│ 2023-12-16 ┆ Cliente46 ┆ ProductoA ┆ 1        ┆ 10              ┆ 10    ┆ Online        │
│ 2023-12-17 ┆ Cliente47 ┆ ProductoB ┆ 5        ┆ 15              ┆ 75    ┆ Online        │
│ 2023-12-18 ┆ Cliente48 ┆ ProductoC ┆ 4        ┆ 20              ┆ 80    ┆ Tienda Física │
│ 2023-12-19 ┆ Cliente49 ┆ ProductoD ┆ 3        ┆ 30              ┆ 90    ┆ Online        │
│ 2023-12-20 ┆ Cliente50 ┆ ProductoA ┆ 2        ┆ 10              ┆ 20    ┆ Online        │
└────────────┴───────────┴───────────┴──────────┴─────────────────┴───────┴───────────────┘

In [9]:
df_csv.dtypes

[Utf8, Utf8, Utf8, Int64, Int64, Int64, Utf8]

In [10]:
df_csv.columns

['Fecha',
 'Cliente',
 'Producto',
 'Cantidad',
 'Precio Unitario',
 'Total',
 'Origen']

In [11]:
df_csv.select(pl.col("Total","Cantidad","Origen"))

shape: (50, 3)
┌───────┬──────────┬───────────────┐
│ Total ┆ Cantidad ┆ Origen        │
│ ---   ┆ ---      ┆ ---           │
│ i64   ┆ i64      ┆ str           │
╞═══════╪══════════╪═══════════════╡
│ 50    ┆ 5        ┆ Online        │
│ 45    ┆ 3        ┆ Online        │
│ 40    ┆ 2        ┆ Online        │
│ 40    ┆ 4        ┆ Tienda Física │
│ …     ┆ …        ┆ …             │
│ 75    ┆ 5        ┆ Online        │
│ 80    ┆ 4        ┆ Tienda Física │
│ 90    ┆ 3        ┆ Online        │
│ 20    ┆ 2        ┆ Online        │
└───────┴──────────┴───────────────┘

In [12]:
df_csv.select(pl.exclude("Total","Origen"))

shape: (50, 5)
┌────────────┬───────────┬───────────┬──────────┬─────────────────┐
│ Fecha      ┆ Cliente   ┆ Producto  ┆ Cantidad ┆ Precio Unitario │
│ ---        ┆ ---       ┆ ---       ┆ ---      ┆ ---             │
│ str        ┆ str       ┆ str       ┆ i64      ┆ i64             │
╞════════════╪═══════════╪═══════════╪══════════╪═════════════════╡
│ 2023-11-01 ┆ Cliente1  ┆ ProductoA ┆ 5        ┆ 10              │
│ 2023-11-02 ┆ Cliente2  ┆ ProductoB ┆ 3        ┆ 15              │
│ 2023-11-03 ┆ Cliente3  ┆ ProductoC ┆ 2        ┆ 20              │
│ 2023-11-04 ┆ Cliente4  ┆ ProductoA ┆ 4        ┆ 10              │
│ …          ┆ …         ┆ …         ┆ …        ┆ …               │
│ 2023-12-17 ┆ Cliente47 ┆ ProductoB ┆ 5        ┆ 15              │
│ 2023-12-18 ┆ Cliente48 ┆ ProductoC ┆ 4        ┆ 20              │
│ 2023-12-19 ┆ Cliente49 ┆ ProductoD ┆ 3        ┆ 30              │
│ 2023-12-20 ┆ Cliente50 ┆ ProductoA ┆ 2        ┆ 10              │
└────────────┴───────────┴───────────┴──────────┴─────────────────┘

In [13]:
df_csv.filter(pl.col("Cantidad").is_between(4,5))

shape: (16, 7)
┌────────────┬───────────┬───────────┬──────────┬─────────────────┬───────┬───────────────┐
│ Fecha      ┆ Cliente   ┆ Producto  ┆ Cantidad ┆ Precio Unitario ┆ Total ┆ Origen        │
│ ---        ┆ ---       ┆ ---       ┆ ---      ┆ ---             ┆ ---   ┆ ---           │
│ str        ┆ str       ┆ str       ┆ i64      ┆ i64             ┆ i64   ┆ str           │
╞════════════╪═══════════╪═══════════╪══════════╪═════════════════╪═══════╪═══════════════╡
│ 2023-11-01 ┆ Cliente1  ┆ ProductoA ┆ 5        ┆ 10              ┆ 50    ┆ Online        │
│ 2023-11-04 ┆ Cliente4  ┆ ProductoA ┆ 4        ┆ 10              ┆ 40    ┆ Tienda Física │
│ 2023-11-09 ┆ Cliente9  ┆ ProductoD ┆ 4        ┆ 30              ┆ 120   ┆ Online        │
│ 2023-11-11 ┆ Cliente11 ┆ ProductoB ┆ 5        ┆ 15              ┆ 75    ┆ Online        │
│ …          ┆ …         ┆ …         ┆ …        ┆ …               ┆ …     ┆ …             │
│ 2023-12-11 ┆ Cliente41 ┆ ProductoD ┆ 5        ┆ 30              ┆ 150   ┆ Online        │
│ 2023-12-12 ┆ Cliente42 ┆ ProductoA ┆ 4        ┆ 10              ┆ 40    ┆ Online        │
│ 2023-12-17 ┆ Cliente47 ┆ ProductoB ┆ 5        ┆ 15              ┆ 75    ┆ Online        │
│ 2023-12-18 ┆ Cliente48 ┆ ProductoC ┆ 4        ┆ 20              ┆ 80    ┆ Tienda Física │
└────────────┴───────────┴───────────┴──────────┴─────────────────┴───────┴───────────────┘

In [14]:
df_csv.filter((pl.col("Cantidad")>= 3) & (pl.col("Producto")=="ProductoB"))

shape: (8, 7)
┌────────────┬───────────┬───────────┬──────────┬─────────────────┬───────┬────────┐
│ Fecha      ┆ Cliente   ┆ Producto  ┆ Cantidad ┆ Precio Unitario ┆ Total ┆ Origen │
│ ---        ┆ ---       ┆ ---       ┆ ---      ┆ ---             ┆ ---   ┆ ---    │
│ str        ┆ str       ┆ str       ┆ i64      ┆ i64             ┆ i64   ┆ str    │
╞════════════╪═══════════╪═══════════╪══════════╪═════════════════╪═══════╪════════╡
│ 2023-11-02 ┆ Cliente2  ┆ ProductoB ┆ 3        ┆ 15              ┆ 45    ┆ Online │
│ 2023-11-11 ┆ Cliente11 ┆ ProductoB ┆ 5        ┆ 15              ┆ 75    ┆ Online │
│ 2023-11-15 ┆ Cliente15 ┆ ProductoB ┆ 4        ┆ 15              ┆ 60    ┆ Online │
│ 2023-11-23 ┆ Cliente23 ┆ ProductoB ┆ 3        ┆ 15              ┆ 45    ┆ Online │
│ 2023-11-27 ┆ Cliente27 ┆ ProductoB ┆ 5        ┆ 15              ┆ 75    ┆ Online │
│ 2023-12-01 ┆ Cliente31 ┆ ProductoB ┆ 4        ┆ 15              ┆ 60    ┆ Online │
│ 2023-12-09 ┆ Cliente39 ┆ ProductoB ┆ 3        ┆ 15              ┆ 45    ┆ Online │
│ 2023-12-17 ┆ Cliente47 ┆ ProductoB ┆ 5        ┆ 15              ┆ 75    ┆ Online │
└────────────┴───────────┴───────────┴──────────┴─────────────────┴───────┴────────┘

In [23]:
df_csv =df_csv.with_columns(pl.col("Total").sum().alias("e"), (pl.col("Total") + 50).alias("b"))

In [17]:
df = df_csv.select(pl.col("Total","Origen"))
df.groupby("Origen", maintain_order=True).count()

shape: (2, 2)
┌───────────────┬───────┐
│ Origen        ┆ count │
│ ---           ┆ ---   │
│ str           ┆ u32   │
╞═══════════════╪═══════╡
│ Online        ┆ 36    │
│ Tienda Física ┆ 14    │
└───────────────┴───────┘

In [19]:
df_csv.groupby("Producto", maintain_order=True).agg(
   pl.col("Producto").count().alias("count") ,
   pl.col("Total").sum().alias("sum")
)

shape: (4, 3)
┌───────────┬───────┬─────┐
│ Producto  ┆ count ┆ sum │
│ ---       ┆ ---   ┆ --- │
│ str       ┆ u32   ┆ i64 │
╞═══════════╪═══════╪═════╡
│ ProductoA ┆ 14    ┆ 440 │
│ ProductoB ┆ 12    ┆ 600 │
│ ProductoC ┆ 12    ┆ 620 │
│ ProductoD ┆ 12    ┆ 900 │
└───────────┴───────┴─────┘

In [20]:
df_csv.n_unique("Producto")

4

In [21]:
df_csv.get_column("Producto").unique()

shape: (4,)
Series: 'Producto' [str]
[
	"ProductoD"
	"ProductoC"
	"ProductoB"
	"ProductoA"
]

In [24]:
df_csv

shape: (50, 9)
┌────────────┬───────────┬───────────┬──────────┬───┬───────┬───────────────┬──────┬─────┐
│ Fecha      ┆ Cliente   ┆ Producto  ┆ Cantidad ┆ … ┆ Total ┆ Origen        ┆ e    ┆ b   │
│ ---        ┆ ---       ┆ ---       ┆ ---      ┆   ┆ ---   ┆ ---           ┆ ---  ┆ --- │
│ str        ┆ str       ┆ str       ┆ i64      ┆   ┆ i64   ┆ str           ┆ i64  ┆ i64 │
╞════════════╪═══════════╪═══════════╪══════════╪═══╪═══════╪═══════════════╪══════╪═════╡
│ 2023-11-01 ┆ Cliente1  ┆ ProductoA ┆ 5        ┆ … ┆ 50    ┆ Online        ┆ 2560 ┆ 100 │
│ 2023-11-02 ┆ Cliente2  ┆ ProductoB ┆ 3        ┆ … ┆ 45    ┆ Online        ┆ 2560 ┆ 95  │
│ 2023-11-03 ┆ Cliente3  ┆ ProductoC ┆ 2        ┆ … ┆ 40    ┆ Online        ┆ 2560 ┆ 90  │
│ 2023-11-04 ┆ Cliente4  ┆ ProductoA ┆ 4        ┆ … ┆ 40    ┆ Tienda Física ┆ 2560 ┆ 90  │
│ …          ┆ …         ┆ …         ┆ …        ┆ … ┆ …     ┆ …             ┆ …    ┆ …   │
│ 2023-12-17 ┆ Cliente47 ┆ ProductoB ┆ 5        ┆ … ┆ 75    ┆ Online        ┆ 2560 ┆ 125 │
│ 2023-12-18 ┆ Cliente48 ┆ ProductoC ┆ 4        ┆ … ┆ 80    ┆ Tienda Física ┆ 2560 ┆ 130 │
│ 2023-12-19 ┆ Cliente49 ┆ ProductoD ┆ 3        ┆ … ┆ 90    ┆ Online        ┆ 2560 ┆ 140 │
│ 2023-12-20 ┆ Cliente50 ┆ ProductoA ┆ 2        ┆ … ┆ 20    ┆ Online        ┆ 2560 ┆ 70  │
└────────────┴───────────┴───────────┴──────────┴───┴───────┴───────────────┴──────┴─────┘

In [25]:
df_csv.drop("e","b")

shape: (50, 7)
┌────────────┬───────────┬───────────┬──────────┬─────────────────┬───────┬───────────────┐
│ Fecha      ┆ Cliente   ┆ Producto  ┆ Cantidad ┆ Precio Unitario ┆ Total ┆ Origen        │
│ ---        ┆ ---       ┆ ---       ┆ ---      ┆ ---             ┆ ---   ┆ ---           │
│ str        ┆ str       ┆ str       ┆ i64      ┆ i64             ┆ i64   ┆ str           │
╞════════════╪═══════════╪═══════════╪══════════╪═════════════════╪═══════╪═══════════════╡
│ 2023-11-01 ┆ Cliente1  ┆ ProductoA ┆ 5        ┆ 10              ┆ 50    ┆ Online        │
│ 2023-11-02 ┆ Cliente2  ┆ ProductoB ┆ 3        ┆ 15              ┆ 45    ┆ Online        │
│ 2023-11-03 ┆ Cliente3  ┆ ProductoC ┆ 2        ┆ 20              ┆ 40    ┆ Online        │
│ 2023-11-04 ┆ Cliente4  ┆ ProductoA ┆ 4        ┆ 10              ┆ 40    ┆ Tienda Física │
│ …          ┆ …         ┆ …         ┆ …        ┆ …               ┆ …     ┆ …             │
│ 2023-12-17 ┆ Cliente47 ┆ ProductoB ┆ 5        ┆ 15              ┆ 75    ┆ Online        │
│ 2023-12-18 ┆ Cliente48 ┆ ProductoC ┆ 4        ┆ 20              ┆ 80    ┆ Tienda Física │
│ 2023-12-19 ┆ Cliente49 ┆ ProductoD ┆ 3        ┆ 30              ┆ 90    ┆ Online        │
│ 2023-12-20 ┆ Cliente50 ┆ ProductoA ┆ 2        ┆ 10              ┆ 20    ┆ Online        │
└────────────┴───────────┴───────────┴──────────┴─────────────────┴───────┴───────────────┘